$backgroundColor: #f6f6f6;
$cardColor: #fff;
$textColor: black;
$boxShadowColor: #dee1e4;

.products {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  background-color: $backgroundColor;
}

.mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 5px 5px 5px $boxShadowColor;
  background-color: $cardColor;
  max-width: 300px;
  width: 300px;
  margin: 15px;
  padding: 20px 3px;
}

.mat-card-header {
  height: 80px;
  display: flex;
  align-items: center;
  color: $textColor;
}

.mat-card-title {
  display: flex;
  max-width: 240px;
  justify-content: center;
  line-height: normal;
  padding-top: 10px;
}

.img {
  width: 10%;
  height: 10%;
  object-fit: contain;
}

.mat-card-subtitle {
  display: flex;
  max-width: 210px;
  justify-content: left;
  padding-left: 20px;
  line-height: normal;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  background-color: #f2d388;
  color: $textColor;
}
