<div class="products" style="display: flex">
  <mat-card *ngFor="let product of products()" class="product">
    <div class="product-details">
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle class="condition"
        >Condition: {{ product.condition }}</mat-card-subtitle
      >
      <div class="image">
        <img class="card-img" src="{{ product.image }}" />
      </div>
      <mat-card-subtitle class="price"
        >{{ product.price | number: "1.2-2" }} €
      </mat-card-subtitle>
      <mat-card-actions>
        <a href="https://www.rebuy.de/" class="button"> Purchase Now </a>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
